*{
    margin: 0;
    padding: 0;
}

/*  register Form & Background  */

.body-background{
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom left,#090979,#00d4ff);
    background-size: 400% 400%;
    animation: boja1 20s ease infinite;
}

.register-form-wrapper{
    position: relative;
    text-align: center;
    width: 550px;
    height: 550px;
    background-color: white;
    margin: auto;
    border-radius: 40px;
}

.register-form-wrapper > h1{
    display: block;
    width: 100%;
    height: fit-content;
    margin-block: 40px;
}

.register-form-wrapper > p{
    font-weight: 500;
    margin-top: 40px;
}

.register-form-wrapper > p:last-child{
    font-weight: 500;
    margin-top: 15px;
}

.register-form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.register-form-part{
    width: 45%;
    height: fit-content;
}

.register-form-part > p{
    margin-top: 28px;
    width: 70%;
    padding-left: 30px;
    font-weight: 700;
    font-size: large;
}

.register-form-part > form{
    max-width: 200px;
}

.register-form-part > form > input{
    margin-top: 30px;
    color: white;
    width: 93%;
    border-radius: 20px;
    border: 2px solid black;
    background: linear-gradient(to bottom left,#090979,#00d4ff);
    background-size: 400% 400%;
    animation: boja1 20s ease infinite;
    padding-left: 10px;
}

.register-button{
    margin-top: 40px;
    max-width: 200px;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
    background: linear-gradient(to bottom left,#090979,#00d4ff);
    background-size: 400% 400%;
    animation: boja1 20s ease infinite;
}



/*  Keyframes  */

@keyframes boja1{
    0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}